<div class="jumbotron">
    <div class="container">
        <h1 class="font-weight-bold">Rite of Passage</h1>
        <h4>A development and learning blog</h4>
        <h6 class="font-italic">by Calum Andrew Morrell</h6>
    </div>
</div>