{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <div class="container">
        <h3 class="text-center">The obligatory website introduction</h3>
        <br>
        <div class="row text-justify">
            <div class="col">
                <p>It's become a bit of a stereotype in web development circles to write a blog while learning how to use the languages and frameworks needed for a useful modern website.
                    I thought I might as well become another spec of dust in the vacuum of development. So ... what's the point?</p>
            </div>
            <div class="col">
                <p>It's basically to help learn the tools of the trade better.
                    Tutorials are helpful - sometimes - but it's difficult to really understand the tools and how to use them when you're following along with someone telling you what to do at each step.
                    It's so much faster to mistakes and learn how to fix them.</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <h3 class="text-center">Recent posts</h3>
        <br>
        <div class="card-deck text-center">
            {% for post in object_list|slice:':3' %}
                <div class="card">
                    <div class="card-header text-muted">
                        {{ post.category }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                        <p class="card-text">{% if post.summary %}{{ post.summary }}{% else %}{{ post.body | truncatechars:200 }}{% endif %}</p>
                    </div>
                    <div class="card-footer text-muted">
                        published {{ post.created | naturaltime }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}