{% if all_posts %}
    <div>
        <h5>All recent posts</h5>
        <ul class="list-unstyled">
        {% for post in all_posts|slice:':10' %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title | truncatechars:30 }}</a>
                <br>
                <p class="text-muted">{{ post.category }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}