{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Rite of Passage by Calum Andrew Morrell{% endblock %}</title>
</head>
<body>
    <h1>Rite of Passage</h1>
    <h2>A development and learning blog by Calum Andrew Morrell</h2>

    <a>Home</a>
    <a>Tutorials</a>
    <a>Bulma</a>
    <a>Django</a>
    <a>Python</a>
    <a>Blog posts</a>
    <a>Almost interesting stuff</a>

    {% block content %}{% endblock %}

    <footer>
        <div>
            <p>All content copyright <strong>Calum Andrew Morrell</strong></p>
        </div>
    </footer>
</body>
</html>