{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="font-weight-bold">{{ post.title }}</h4>
                {% if post.subtitle %}<h5>{{ post.subtitle }}</h5>{% endif %}
                <p class="font-italic">Originally written on the {{ post.created | date:'jS \o\f F, Y' }}
                {% if post.created.date != post.updated.date %}
                    and last updated on the {{ post.updated | date:'jS \o\f F, Y' }}
                {% endif %}
                </p>
                <div class="text-justify">
                    {{ post.body_as_markdown }}
                </div>
            </div>

            <div class="col-md-auto">
                {% include 'core/sidebar_default.html' %}
            </div>
        </div>
    </div>
{% endblock %}