{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if object_list %}
                    <h3>Recent posts in the {{ category }} category</h3>
                    {% for post in object_list %}
                        <hr>
                        <a class="h4 font-weight-bold" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        {% if post.subtitle %}<h5>{{ post.subtitle }}</h5>{% endif %}
                        {% if post.summary %}
                            <p>{{ post.summary|linebreaksbr }}</p>
                        {% else %}
                            <p>{{ post.body_as_markdown | truncatechars:400 }}</p>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h3>Oh No!</h3>
                    <h5>I haven't written any tutorials for the {{ category }} category yet.</h5>
                    <p class="text-muted">(sorry not sorry)</p>
                {% endif %}
            </div>

            <div class="col-md-auto">
                {% include 'core/sidebar_default.html' %}
            </div>
        </div>
    </div>
{% endblock %}